name: Coverage

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:latest
      options: --security-opt seccomp=unconfined
    steps:
    - uses: actions/checkout@v3
    - run: cargo tarpaulin -f -t 5 --out xml -v -- --test-threads=1
    - uses: codecov/codecov-action@v3
